<div>
  <sly-field
    title="Steps to perform"
    description="Select which steps should be done"
  >
    <div>
      <el-select v-model="state.selectOption" placeholder="Select Option">
        <el-option key="by-batches" label="Group by Batches" value="by-batches"></el-option>
        <el-option key="tags" label="Group by Image Tags" value="tags"></el-option>
        <el-option key="obj-class" label="Group by Object Classes" value="obj-class"></el-option>
      </el-select>
    </div>

    <div>
      <sly-field
        title="Batch size"
        description="Select the batch size for grouping images"
      >
        <div v-if="state.noBatches === false">
          <el-slider v-model="state.sliderValue" :min="2" :max="100" :step="1" show-input></el-slider>
        </div>

        <div>
          <label for="noBatches">No Batches Mode</label>
          <input type="checkbox" id="noBatches" v-model="state.noBatches">
        </div>
      </sly-field>
    </div>
  </sly-field>
</div>