<div>
  <sly-field
    title="Steps to perform"
    description="Select which steps should be done"
  >
    <div>
      <el-select v-model="state.selectOption" placeholder="Select Option">
        <el-option key="by-batches" label="Group by Batches" value="by-batches"></el-option>
        <el-option key="tags" label="Group by Image Tags" value="tags"></el-option>
        <el-option key="obj-class" label="Group by Object Class" value="obj-class"></el-option>
      </el-select>
    </div>

    <div>
      <sly-field
        title="Batch size"
        description="Select the batch size for grouping images"
      >
      <el-slider v-model="state.sliderValue" :min="0" :max="20" :step="1"></el-slider>
    </div>
  </sly-field>
  </div>
</div>